/* GLOBAL STYLES */

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  position: relative;
}

nav {
  padding: 0px;
  min-height: 50px;
}

.container-fluid {
  padding: 0;
}

.jumbotrom {
  margin: 50px 10px 10px 10px;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
}

h4 {
  text-transform: uppercase;
  font-weight: 300;
}

.uppercase {
  text-transform: uppercase;
}

.filler-text {
  text-align: center;
  color: #666666;
  margin: 1em;
}

/* START NAVBAR STYLE */
.navbar {
  background-color: #f9f9f9;
  padding: 0;
}

.nav-link {
  margin-left: 10px;
}

.navbar-brand {
  color: #7FE5F0;
  height: 40px;
  letter-spacing: 1px;
  padding-left: 10px;
  font-weight: 400;
  margin: 0px;
}

.navbar-brand:hover {
  color: #7fb2b2;
}

.nav-link {
  color: #006666;
}

.nav-item:hover .nav-link {
  color: #66a3a3;
}

.nav-link.active {
  color: #66a3a3;
}

.dropdwn-menu {
  border: none;
  background-color: #f4f4f4;
  border-radius: 0px;
  margin: 4px;
}

.dropdwn-item {
  color: #005b5b;
  outline: none;
}

.nav-btn-contact {
  border-radius: 0px;
  background-color: rgba(11, 160, 160, .87);
  border-color: #666666;
  color: #f9f9f9;
  height: 40px;
  letter-spacing: 1px;
  margin-right: 10px;
}

.nav-btn-contact:hover {
  background-color: rgba(11, 160, 160, 1.0);
  border-color: #666666;
  color: #f9f9f9;
}

.navbar-toggler {
  margin-right: 40px;
  padding-top: 5px;
  border: none;
  margin: 0px;
  margin-left: 0px;
}

.navbar-toggler-icon {
  color: #7FE5F0;
  font-size: 28px;
  margin: 0px;
}

.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

/*  X END NAVBAR STYLE X */