/* GLOBAL STYLES */

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  position: relative;
}

nav {
  padding: 0px;
  min-height: 50px;
}

.container-fluid {
  padding: 0;
}

.jumbotron {
  margin: 50px 10px 10px 10px;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
}

h4 {
  text-transform: uppercase;
  font-weight: 300;
}

.uppercase {
  text-transform: uppercase;
}

.filler-text {
  text-align: center;
  color: #666666;
  margin: 1em;
}

.filler-text h4 {
  margin: 0px;
}

.filler-btn {
  border-radius: 0px;
  background-color: rgba(11,160,160,0.87);
  border-color: #666666;
  color: #f9f9f9;
  height: 3em;
  letter-spacing: 1px;
  margin: 1.5em;

}

.filler-btn:hover {
  background-color: rgba(11,160,160,0.97);
  border-color: #666666;
  color: #f9f9f9;
}

/* START NAVBAR STYLE */
.navbar {
  background-color: #f9f9f9;
  padding: 0;
}

.nav-link {
  margin-left: 10px;
}

.navbar-brand {
  color: #7FE5F0;
  height: 40px;
  letter-spacing: 1px;
  padding-left: 10px;
  font-weight: 400;
  margin: 0px;
}

.navbar-brand:hover {
  color: #7fb2b2;
}

.nav-link {
  color: #006666;
}

.nav-item:hover .nav-link {
  color: #66a3a3;
}

.nav-link.active {
  color: #66a3a3;
}

.dropdwn-menu {
  border: none;
  background-color: #f4f4f4;
  border-radius: 0px;
  margin: 4px;
}

.dropdwn-item {
  color: #005b5b;
  outline: none;
}

.nav-btn-contact {
  border-radius: 0px;
  background-color: rgba(11, 160, 160, .87);
  border-color: #666666;
  color: #f9f9f9;
  height: 40px;
  letter-spacing: 1px;
  margin-right: 10px;
}

.nav-btn-contact:hover {
  background-color: rgba(11, 160, 160, 1.0);
  border-color: #666666;
  color: #f9f9f9;
}

.navbar-toggler {
  margin-right: 40px;
  padding-top: 5px;
  border: none;
  margin: 0px;
  margin-left: 0px;
}

.navbar-toggler-icon {
  color: #7FE5F0;
  font-size: 28px;
  margin: 0px;
}

.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

/*  X END NAVBAR STYLE X */

/* START HERO SECTION */
.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../images/jumbo1.jpg");
  border-radius: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  text-align: center;
  color: #f4f4f4;
}

.jumbotron-btn-contact {
  border-radius: 0px;
  background-color: rgba(6, 88, 88, .4);
  border-top: #cccccc;
  color: #f2f2f2;
  height: 40px;
  letter-spacing: 1px;
  margin-top: 2rem;
}

.jumbotron-btn-contact:hover {
  background-color: rgba(6, 88, 88, .8);
  color: #f9f9f9;
  border-color: #c0c0c0;
}

/* X END HERO SECTION X */

/* START ABOUT ME */
.about-container {
  color: #f9f9f9;
  background-color: #f9f9f9;
}

.cv-block {
  margin: 10px;
  background-color: #197575;
  padding: 10px;
  text-align: center;
  height: 95%;
  position: relative;
}

.cv-history-container {
  color: #f9f9f9;
  margin-bottom: 20px;
  margin-top: 10px;
}

.cv-timeline-text {
  margin-top: 2em;
}

.cv-timeline-text p {
  margin-bottom: 1.5em;
}

.cv-image {
  text-align: center;
  margin-bottom: 1rem;
}

.cv-image img {
  height: 8rem;
  width: 8rem;
  border-radius: 50% ;
}

.cv-circle-icon {
  border-radius: 50px;
  padding: 30px;
  border: 2px solid #cccccc;
  font-size: 2rem;
  margin-bottom: 10px;
}

.cv-break {
  color: #cccccc;
}
.cv-skills-container {
  color: #f9f9f9;
  margin-bottom: 20px;
  margin-top: 10px;
}

.cv-item {
  padding: 4em 2em 0em 2em;
  position: relative;
  color: #f9f9f9;
  border-left: 1px solid;
}

.cv-skills-block {
 margin: 10px;
 background: radial-gradient(circle, rgba(9,136,136, 0.88) 0%, rgba(6,88,88,1) 70%);
 padding: 10px;
 text-align: center; 
}

.cv-history-header { 
  text-align: center;   
}

.cv-skills-block hr {
  border-top: 1.5px solid #f9f9f9;
}
.cv-skills-subheader i {
  border-radius: 50%;
  padding: 30px;
  background-color: transparent;
  font-size: 2.4em;
  margin-bottom: 0.5em;
  border: 20px solid #cccccc;
}

/* X END ABOUT ME X */

/* START PROJECTS */

.portfolio-container {
  margin: 10px;
}

.cards-container {
  display: flex;
  background-color: #7fb2b2;
}

.project-card {
  margin: 15px;
  padding: 3px;
  background-color: rgba(248,248,248, 0.75);
  box-shadow: 6px 6px 6px rgba(109, 109, 114, 0.9);
  height: 95%;
  position: relative;
}

.project-card:hover {
  background-color: rgba(248,248,248, 0.95);
  box-shadow: 7px 7px 6px rgba(109, 109, 114, 1);
}

.project-card p {
  min-height: 5rem;
  text-align: center;
  padding: 1rem;
  color: #737373;
}

.project-card-content {
  text-align: center;
}

.project-tech-used {
  color: #a3a3a3;
}

.project-image {
  margin-bottom: 10px;
  width: 100%;
}

/* X END PROJECTS */